In [29]:
import pymongo
import random
import numpy as np
import uuid
import pandas as pd

In [30]:
from pymongo import MongoClient
client = MongoClient()

In [31]:
client = MongoClient("mongodb+srv://shubhamperiwal98:Shubham123@cluster0-rh4gz.gcp.mongodb.net/test")
db = client['CardGamesDB']
db_test = client['TestCardGamesDB']
topic_db = db['Topic']
topic_db_test = db_test['Topic']

In [34]:
df = pd.read_csv('Chameleon Topics.csv', index_col=0)

In [35]:
df.head()

,Word1,Word2,Word3,Word4,Word5,Word6,Word7,Word8,Word9,Word10,Word11,Word12,Word13,Word14,Word15
Topic,,,,,,,,,,,,,,,
Cities,Moscow,Tokyo,Delhi,New York,Chicago,Mumbai,London,Jakarta,Cape Town,Las Vegas,Paris,Rome,Florence,Egypt,Manila
Universities,Harvard,Yale,MIT,USC,Oxford,SMU,Stanford,NUS,Cambridge,IITs,NTU,LaSalle,IIMs,Insead,Yale-NUS
Animals,Dog,Cat,Wolf,Tiger,Dolphin,Penguin,Lion,Horse,Fox,Sheep,Goat,Cow,Mouse,Deer,Bear
Best Characters,Percy Jackson,Hermione Granger,Katniss Everdeen,Albus Dumbledore,Tyrion Lannister,Daenerys Targayen,Sherlock Holmes,The Mad Hatter,Dobby the Elf,Batman,Mogli,James Bond,Captain Jack Sparrow,Darth Vader,Gandalf
Apps,Whatsapp,Instagram,Tinder,Telegram,Snapchat,Mail,Splitwise,Grab Food,Netflix,Food Panda,Spotify,Quora,CamScanner,LinkedIn,Google Maps

In [41]:
for index, row in df.iterrows():
    topic_db.insert_one({
        'topicId': uuid.uuid4().hex[:4],
        'topic': index,
        'words': list(row.values)
    })

In [45]:
votes = ["A", "b", "c", "b", "c", "b"]
d = {x:votes.count(x) for x in votes}
d

{'A': 1, 'b': 3, 'c': 2}

In [50]:
for key, value in d.items():
    print(key, value)

A 1
b 3
c 2